{% extends 'base.html' %}
{% load static %}

{% block styles %}
<link rel="stylesheet" href="{% static 'css/auth/auth.css' %}">
<link rel="stylesheet" href="{% static 'css/auth/login.css' %}">
{% endblock styles %}

{% block body %}
<h1>Login</h1>

<form method="post" class="login">
  {% csrf_token %}

  <table class="table">
    <tr>
      <td><label for="email">Email</label></td>
      <td><input type="email" name="email" id="email" required></td>
    </tr>
    <tr>
      <td><label for="password">Password</label></td>
      <td><input type="password" name="password" id="password" required></td>
    </tr>
  </table>

  {% if messages %}
    {% for message in messages %}
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
      {{ message }}
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    {% endfor %}
  {% endif %}

  <button type="submit">Login</button>
</form>
<div>Belum pernah mendaftar? <a href="/auth/register">Daftar disini</a></div>
{% endblock body %}