{% extends 'base.html' %}
{% load static %}

{% block styles %}
<link rel="stylesheet" href="{% static 'css/auth/auth.css' %}">
<link rel="stylesheet" href="{% static 'css/auth/register.css' %}">
{% endblock styles %}

{% block body %}
<h1>Register</h1>
<div class="regis">
  <button><a href="/auth/register/admin">Daftar sebagai admin</a></button>
  <button><a href="/auth/register/user">Daftar sebagai pengguna</a></button>
</div>
<p>Sudah punya akun? <a href="/auth/login">Masuk</a></p>
{% endblock body %}