{% extends 'base.html' %}
{% load static %}

{% block styles %}
{% endblock styles %}

{% block body %}
<h1>{{ title }}</h1>
<table class="mx-auto table table-bordered">
    <tr>
        <th>No.</th>
        {% if data|get_item:'role' == 'admin' %}
            <th>Email Pengguna</th>
        {% endif %}
        <th>Waktu Upgrade</th>
    </tr>
    {% if daftartransaksi %}
        {% for transaksi in daftartransaksi %}
            <tr>
                <td>{{ forloop.counter }}</td>
                {% if data|get_item:'role' == 'admin' %}
                    <td>{{ transaksi.email }}</td>
                {% endif %}
                <td>{{ transaksi.waktu }}</td>
            </tr>
        {% endfor %}
    {% endif %}
</table>
{% endblock body %}