{% extends 'base.html' %}
{% load static %}

{% block styles %}
{% endblock styles %}

{% block body %}
<h1>Form {{ title }}</h1>
<form method="post" class="buat">
    <div class="">
        <label for="new_level">Level Lumbung:</label>
        <input value='{{ data.user.level }}' readonly><span>=></span><input type="new_level" name="new_level" id="new_level" value='{{ data.user.new_level }}' readonly>
    </div>
    <div class="">
        <label for="new_cap">Kapasitas Lumbung:</label>
        <input value='{{ data.user.cap }}' readonly><span>=></span><input type="new_cap" name="new_cap" id="new_cap" value='{{ data.user.new_cap }}' readonly>
    </div>
    <div class="">
        <label for="xp">xp Upgrade:</label>
        <input type="xp" name="xp" id="xp" value='200' readonly>
    </div>
    <button type="submit">Upgrade</button>

    {% if messages %}
    {% for message in messages %}
    <div class="alert alert-danger" role="alert">
        {{ message }}
    </div>
    {% endfor %}
    {% endif %}
</form>
{% endblock body %}