h1 {
  text-align: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 2rem;
  font-weight: 500;
  color: chocolate;
}

nav {
  padding-left: 2rem;
  padding-right: 2rem;
}