h1 {
  text-align: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 2rem;
  font-weight: 500;
  color: chocolate;
}

body {
  padding-left: 1rem;
  padding-right: 1rem;
}