{% extends 'base.html' %}
{% load static %}

{% block styles %}
{% endblock styles %}

{% block body %}
<h1>{{ title }}</h1>
{% if daftarhistory %}
{% for history in daftarhistory %}
<div class="d-flex justify-content-between">
    <p>No: {{ forloop.counter }}</p>
    {% if data|get_item:'role' == 'admin' %}
    <p>Email Pengguna: {{ history.email }}</p>
    {% endif %}
    <p>Waktu Awal: {{ history.waktu_awal }}</p>
    <p>Waktu Selesai: {{ history.waktu_selesai }}</p>
    <p>Jumlah: {{ history.jumlah }}</p>
    <p>XP:</p>
    <p>Bibit Tanaman:</p>
</div>
{% endfor %}
{% endif %}
{% endblock body %}