{% extends 'base.html' %}
{% load static %}

{% block styles %}
<link rel="stylesheet" href="{% static 'css/histori/histori_makanan.css' %}">
{% endblock styles %}

{% block body %}
<div class="main">
  <h1>Histori Produksi Makanan</h1>

  {% if messages %}
  {% for message in messages %}
  {% if message.tags == "error" %}
  <div class="alert alert-danger alert-dismissible fade show" role="alert">
    {{ message }}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  {% else %}
  <div class="alert alert-success alert-dismissible fade show" role="alert">
    {{ message }}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  {% endif %}
  {% endfor %}
  {% endif %}
  <div class="">
    <table class="table table-bordered table-striped">
      <tr>
        <th class="align-middle text-center">No.</th>
        {% if data|get_item:'role' == 'admin' %}
        <th class="align-middle text-center">Email</th>
        {% endif %}
        <th class="align-middle text-center">Waktu Awal</th>
        <th class="align-middle text-center">Waktu Selesai</th>
        <th class="align-middle text-center">Jumlah</th>
        <th class="align-middle text-center">XP</th>
        <th class="align-middle text-center">Produk Makanan</th>
        <th class="align-middle text-center">Alat Produksi</th>
      </tr>
      {% if daftarhistory %}
      {% for history in daftarhistory %}
      <tr>
        <td class="align-middle text-center">{{ forloop.counter }}</td>
        {% if data|get_item:'role' == 'admin' %}
        <td class="align-middle">{{ history.email }}</td>
        {% endif %}
        <td class="align-middle text-center">{{ history.waktu_awal }}</td>
        <td class="align-middle text-center">{{ history.waktu_selesai }}</td>
        <td class="align-middle text-center">{{ history.jumlah }}</td>
        <td class="align-middle text-center">{{ history.xp }}</td>
        <td class="align-middle">{{ history.makanan }}</td>
        <td class="align-middle">{{ history.alat }}</td>
      </tr>
      {% endfor %}
      {% endif %}
    </table>
  </div>
</div>

{% endblock body %}