{% extends 'base.html' %}
{% load static %}
 
{% block styles %}
{% endblock styles %}


{% block body %}
<h1>Form Buat Aset {{ title }}</h1>
<form method="post">
    <div>
        <label for="id">ID:</label>
        <input type="id" name="id" id="id" placeholder="dXX" disabled>
    </div>
    <div>
        <label for="nama">Nama:</label>
        <input type="nama" name="nama" id="nama">
    </div>
    <div>
        <label for="minimum_level">Minimum Level:</label>
        <input type="minimum_level" name="minimum_level" id="minimum_level">
    </div>
    <div>
        <label for="harga_beli">Harga Beli:</label>
        <input type="harga_beli" name="harga_beli" id="harga_beli">
    </div>


    
    <div>
        <label for="harga_jual">Harga Jual:</label>
        <input type="harga_jual" name="harga_jual" id="harga_jual">
    </div>
    
    <button type="submit">Tambahkan</button>

    {% if messages %}
        {% for message in messages %}
        <div class="alert alert-danger" role="alert">
            {{ message }}
        </div>
        {% endfor %}
    {% endif %}
</form>
{% endblock body %}