{% extends 'base.html' %}
{% load static %}
 
{% block styles %}
{% endblock styles %}


{% block body %}
<h1>{{ title }}</h1>
<form method="post">
    <div>
        <label for="detail_aset">Detail Aset:</label>
        <select id="detail_aset" name="detail_aset">
            {% for object in data %}
            <option value="{{object.id}}">{{object.nama}}</option>
            {% endfor %}
        </select>
    </div>
    <div>
        <label for="jumlah">Jumlah:</label>
        <input type="jumlah" name="jumlah" id="jumlah" required>
    </div>

    <button type="submit">Beli</button>

    {% if messages %}
        {% for message in messages %}
        <div class="alert alert-danger" role="alert">
            {{ message }}
        </div>
        {% endfor %}
    {% endif %}
</form>
{% endblock body %}