{% extends 'base.html' %}
{% load static %}
 
{% block styles %}
{% endblock styles %}


{% block body %}
<h1>Form Buat Aset {{ title }}</h1>
<form method="post">
    <div>
        <label for="id">ID:</label>
        <input type="id" name="id" id="id" value="{{id}}" disabled>
    </div>
    <div>
        <label for="nama">Nama:</label>
        <input type="nama" name="nama" id="nama" required>
    </div>
    <div>
        <label for="min_level">Minimum Level:</label>
        <input type="min_level" name="min_level" id="min_level" required>
    </div>
    <div>
        <label for="harga_beli">Harga Beli:</label>
        <input type="harga_beli" name="harga_beli" id="harga_beli" required>
    </div>


    
    <div>
        <label for="durasi_panen">Durasi Panen:</label>
        <input type="time" step="1" name="durasi_panen" id="durasi_panen">
    </div>
    
    <button type="submit">Tambahkan</button>

    {% if messages %}
        {% for message in messages %}
        <div class="alert alert-danger" role="alert">
            {{ message }}
        </div>
        {% endfor %}
    {% endif %}
</form>
{% endblock body %}