{% extends 'base.html' %}
{% load static %}
 
{% block styles %}
{% endblock styles %}
 
{% block body %}
    <h1>{{ title }}</h1>
    <table style="border-collapse: collapse; border: 2px solid;">
        <tr>
            <th style="border-collapse: collapse; border: 1px solid;">No</th>
            <th style="border-collapse: collapse; border: 1px solid;">ID Aset</th>
            <th style="border-collapse: collapse; border: 1px solid;">Nama</th>
            <th style="border-collapse: collapse; border: 1px solid;">Minimum Level</th>
            <th style="border-collapse: collapse; border: 1px solid;">Harga Beli</th>
            <th style="border-collapse: collapse; border: 1px solid;">Durasi Panen</th>
            {% if data.role == 'admin' %}
            <th style="border-collapse: collapse; border: 1px solid;">Action</th>
            {% endif %}
        </tr>
        {% for object in aset %}
        <tr>
            <td style="border-collapse: collapse; border: 1px solid;">{{ forloop.counter }}</td>
            <td style="border-collapse: collapse; border: 1px solid;">{{ object.id }}</td>
            <td style="border-collapse: collapse; border: 1px solid;">{{ object.nama }}</td>
            <td style="border-collapse: collapse; border: 1px solid;">{{ object.min_level }}</td>
            <td style="border-collapse: collapse; border: 1px solid;">{{ object.harga_beli }}</td>
            <td style="border-collapse: collapse; border: 1px solid;">{{ object.durasi_panen }}</td>
            {% if data.role == 'admin' %}
            <td style="border-collapse: collapse; border: 1px solid;">
                <a href="">Update</a>
                
                {% if object.deletable == 'TRUE' %}
                <a href="/aset/delete-aset/{{object.id}}">Delete</a>
                {% endif %}
                
            </td>
            {% endif %}
        </tr>
        {% endfor %}
    </table>
{% endblock body %}