{% extends 'base.html' %}
{% load static %}
 
{% block styles %}
{% endblock styles %}


{% block body %}
<h1>Form Update Aset {{ title }}</h1>
{% for object in data %}
<form method="post">
    <div>
        <label for="id">ID:</label>
        <input type="id" name="id" id="id" placeholder="{{object.id}}" value="{{object.id}}" disabled>
    </div>
    <div>
        <label for="nama">Nama:</label>
        <input type="nama" name="nama" id="nama" placeholder="{{object.nama}}" value="{{object.nama}}" disabled>
    </div>
    <div>
        <label for="min_level">Minimum Level:</label>
        <input type="min_level" name="min_level" id="min_level" placeholder="{{object.min_level}}" required>
    </div>
    <div>
        <label for="harga_beli">Harga Beli:</label>
        <input type="harga_beli" name="harga_beli" id="harga_beli" placeholder="{{object.harga_beli}}" required>
    </div>


    
    <div>
        <label for="jenis_tanaman">Jenis Tanaman:</label>
        <select id="jenis_tanaman" name="jenis_tanaman">
            <option value="stroberi">Stroberi</option>
            <option value="padi">Padi</option>
            <option value="gandum">Gandum</option>
            <option value="wortel">Wortel</option>
        </select>
    </div>
    
    <button type="submit">Simpan</button>

    {% if messages %}
        {% for message in messages %}
        <div class="alert alert-danger" role="alert">
            {{ message }}
        </div>
        {% endfor %}
    {% endif %}
</form>
{% endfor %}
{% endblock body %}