{% extends 'base.html' %}
{% load static %}

{% block styles %}
{% endblock styles %}

{% block body %}
<h1>Form Buat Paket Koin</h1>
<form method="post" class="buat">
    <div class="">
        <label for="jumlah_koin">Jumlah koin:</label>
        <input type="jumlah_koin" name="jumlah_koin" id="jumlah_koin">
    </div>
    <div class="">
        <label for="harga">Harga:</label>
        <input type="harga" name="harga" id="harga">
    </div>
    <button type="submit">Buat</button>

    {% if messages %}
    {% for message in messages %}
    <div class="alert alert-danger" role="alert">
        {{ message }}
    </div>
    {% endfor %}
    {% endif %}
</form>
{% endblock body %}