{% extends 'base.html' %}
{% load static %}

{% block styles %}
{% endblock styles %}

{% block body %}
<table class="mx-auto table table-bordered">
    <tr>
        <th>No.</th>
        <th>Email</th>
        <th>Waktu</th>
        <th>Jumlah</th>
        <th>Cara Pembayaran</th>
        <th>Paket Koin</th>
        <th>Total Biaya</th>
    </tr>
    {% if daftartransaksi %}
        {% for transaksi in daftartransaksi %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ transaksi.email }}</td>
                <td>{{ transaksi.waktu }}</td>
                <td>{{ transaksi.jumlah }}</td>
                <td>{{ transaksi.cara_pembayaran }}</td>
                <td>{{ transaksi.paket_koin }}</td>
                <td>{{ transaksi.total_biaya }}</td>
            </tr>
        {% endfor %}
    {% endif %}
</table>
{% endblock body %}