.register {
  display: flex;
  flex-direction: column;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 2rem;
  padding-right: 2rem;
  align-items: center;
  gap: 1rem;
  background-color: aliceblue;
}

.table {
  margin: 0;
}