{% extends 'base.html' %}
{% load static %}

{% block styles %}
<link rel="stylesheet" href="{% static 'css/produksi/add_produksi.css' %}">
{% endblock styles %}

{% block body %}
{% if data.role == 'admin' %}
<h1>Buat Produksi</h1>

<form method="post">
  {% csrf_token %}
  <div>
    <label for="makanan">Nama Produk Makanan: </label>
    <select name="makanan" id="makanan" required>
      {% for item in data.production.makanan %}
      <option value="{{ item.id }}">{{ item.nama }}</option>
      {% endfor %}
    </select>
  </div>
  <div>
    <label for="alat">Alat Produksi: </label>
    <select name="alat" id="alat" required>
      {% for item in data.production.alat %}
      <option value="{{ item.id }}">{{ item.nama }}</option>
      {% endfor %}
    </select>
  </div>
  <div>
    <label for="durasi">Durasi Produksi (dalam menit): </label>
    <input type="number" name="durasi" id="durasi" required>
  </div>
  <div>
    <label for="jumlah">Jumlah Produk yang Dihasilkan: </label>
    <input type="number" name="jumlah" id="jumlah" required>
  </div>

  <p>Daftar Bahan yang Dibutuhkan:</p>
  <div>
    <label for="bahan">Bahan</label>
    <select name="bahan" id="bahan" required>
      {% for item in data.production.produk %}
      <option value="{{ item.id }}">{{ item.nama }}</option>
      {% endfor %}
    </select>
    <label for="jumlahbahan">Jumlah</label>
    <input type="number" name="jumlahbahan" id="jumlahbahan" required value="1">
  </div>
  <input type="button" name="add" value="Tambah Bahan">

  <table class="list-bahan" name="list-bahan">
    <tr>
      <th>Bahan</th>
      <th>Jumlah</th>
      <th>Action</th>
    </tr>
  </table>

  <button type="submit" name="add-product" disabled>Tambahkan</button>
</form>

{% else %}
<h1>ERROR</h1>
<p>You must be an admin to access this page</p>
{% endif %}

<script src="{% static 'js/produksi/add_produksi.js' %}"></script>
{% endblock body %}